.env
.venv/
.w3d2/
.w4d2/
.w7d1/
.w7d2/
.w8d1/
.w8d2/
.w8d2app/
.midterm/
.gitignore
.app/
Week 5/Day 1/DataRepository/
Week 5/Day 1/finetuned_arctic/
Week 5/Day 1/checkpoints/
Week 5/Day 2/legal_summarization/
Week 5/Day 2/llama381binstruct_summarize_short/
Week 4/Day 2/DataRepository/
Week 4/Day 2/.ipynb_checkpoints/
Mid-term project/checkpoints/
Mid-term project/finetuned_arctic/
Mid-term project/Prototype app/__pycache__/
Week 7/Day 2/data/
Week 8/Day 1/cache/
Week 8/Day 1/data/
Week 8/Day 2/Application Start/.env
Week 8/Day 2/data.faiss/
Week 8/Day 2/paul-graham-to-kindle/